<html lang="en-US">
<head>
    <title>The Ordinary UI Survey Analysis</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
    <h1>User Response - Results</h1>
    <h2>First Impressions:</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].participant_name %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <br>
    <h2>Did the survey users find the page aesthetically pleasing:</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].helpful %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <br>
    <h2>If users felt the website layout was focused:</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].appeal %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    <br>
    <h2>Adjectives used to describe The Ordinary's page:</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].need_improvement %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <br>
    <h2>How impressed were survey users with the The Ordinary's site:</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].recommend_likelihood %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
    <br>
    <h2>Survey user's school and comments</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].school %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <br>
</body>
</html>